<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>code nodejs</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>First Page EJS merci</h2>

    Hobbies of <h1> <%= result.name %></h1>

    <ul class="blocke">
    <% result.hobbies.forEach((items)=>{ %>
 <li><%= items %></li>
    <% }) %>
    </ul>
</body>
</html> 

