<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculer somme</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="form-container">
        <h1>Calculatrice</h1>
        <form id="sumForm" method="post" action="/operation">
            <div class="form-group">
                <label for="number1">Nombre 1:</label>
                <input type="number" id="number1" name="number1"  value="<%= nb1 %>" required>
            </div>
            <div class="form-group">
                <label for="number2">Nombre 2:</label>
                <input type="number" id="number2" name="number2"  value="<%= nb2 %>" required>
            </div>
            <div class="form-group">
                <label for="result">Résultat:</label>
                <input type="text" id="result" name="result" value="<%=resultat%>" readonly>
            </div>
            <input type="submit" class="button" value="somme" name="btn">
            <input type="submit" class="button" value="multiplication" name="btn">
            <input type="submit" class="button" value="division" name="btn">
            <input type="submit" class="button" value="soustration" name="btn">
        </form>
    </div>
</body>
</html>